//Link Google Fonts


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

//Colors

$white: #FFF;
$black: #000;
$sable: #060606;
$charcoal: #2E1503;
$tangerine: #FFAF6D;
$orange: #FFA500;
$onyx: #333745;
$nickel: #726F73;

//Breakpoints

$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;