.footer{
    background-color: $black;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    font-family: $primary-font;
    margin-top: 20px;

    &__item{
        display: block;
        font-size: $font-medium;
        text-align: center;
        margin: 20px;
        list-style: none;

        a{
            text-decoration: none;
            list-style: none;
            color: $white;
        }

        button{
            text-decoration: none;
            list-style: none;
        }
    }
    &__item:nth-child(4) {
        margin: 0;
    }
    &__input {
        border-radius: 3px;
        padding: 5px;
        border: none;
        margin: 0;
    }
    &__copy {
        text-align: center;
        font-family: $secondary-font;
        font-size: $font-medium;
    }
}

//Tablet size//

@include respond-to ($bp-md){
    .footer{
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        color: $white;
        font-family: $primary-font;
        margin-top: 20px;

        &__lista{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: space-between;
        }
        &__item{
            margin: 0 20px;
            list-style: none;
        }
    }
}